<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style4.css')}}">
    
</head>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<body>
    <h1>Add Student</h1>
    <form method="POST" action="/add_student">
        <div class="mb-3">
        <label for="roll_no">Roll No:</label>
        <input type="text" name="roll_no" id="roll_no" required><br><br>
        </div>
        <div class="mb-3">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required><br><br>
        </div>
        <div class="mb-3">
        <label for="semester">Semester:</label>
        <input type="text" name="semester" id="semester" required><br><br>
        </div>
        <input type="submit" value="Add Student">
    </form>
</body>
</html>  